.profile-pic {
    width: 45%;
    height: auto;
}

.header {
    display: inline-block;
    position: relative;
}

.header-text {
    position: absolute;
    top: 0%;
    left: 50%;
    margin: 1rem;
}

.header-text h1 {
    font-size: 2rem;
    color: #333;
}

.header-text p {
    margin: 1rem auto 1rem;
    font-size: 1rem;
    color: #333;
    text-align: justify;
}

#name {
    background-color: #aa7653b1;
    color: rgb(254, 249, 237);
    padding: 0.5rem;
}

@media screen and (max-width: 600px) {
    .header-text h1 {
        font-size: 1.5rem;
    }

    .header-text p {
        font-size: 0.8rem;
    }

    #name {
        padding: 0.2rem;
    }

    .header {
        flex-wrap: wrap;
    }
}