h1 {
    font-size: 2.7rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem;
    font-weight: bold;
    line-height: 1.6;
}

h2 {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem;
    font-weight: bold;
}

ul li {
    padding: 0.5rem;
}

#name {
    background-color: #aa7653b1;
    color: rgb(254, 249, 237);
    padding: 0.5rem;
}

.centered-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #aa7653;
    color: rgb(254, 249, 237);
    border: 2px solid #aa7653;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
}

.centered-button:hover {
    background-color: rgb(254, 249, 237);
    color: #aa7653;
    border: #aa7653;
    border: 2px solid #aa7653;
}