* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(254, 249, 237);
    font-family: 'Roboto', sans-serif;
    color: rgb(49, 49, 49);
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
    font-weight: bold;
    font-size: larger;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aa7653c4;
    color: rgb(254, 249, 237);
    transition: 0.3s;
    text-decoration: none;
}

.active-nav {
    text-decoration: underline #aa7653;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}


footer {
    width: 100%;
    background-color: #aa7653;
    color: rgb(254, 249, 237);
    text-align: center;
    padding: 10px 0;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    background-color: transparent;
    color: rgb(254, 249, 237);
}

.socials {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    background-color: transparent;
}

.socials li {
    margin: 0 10px;
    background-color: transparent;
}

.socials i, .socials a {
    background-color: transparent;
    color: rgb(254, 249, 237);
}